@use '../../../styles/variables' as *;

.about {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
  gap: $gutter;
  align-items: start;

  @include md-down {
    grid-template-columns: 1fr;
  }
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  max-width: 680px;
  font-size: 17px;
  line-height: 1.6;
}

.cv {
  display: inline-block;
  margin-top: 32px;
  border-bottom: 1px solid $black;

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}
